<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.us.mapper.AttachMapper">
	<!-- 첨부파일 첨부 -->
	<insert id="insert">
		insert into attach(uuid, attachpath, filename, image, nno)
		values(#{uuid},#{attachPath},#{fileName},#{image},#{nno});
	</insert>
	<insert id="boardinsert">
		insert into attach(uuid, attachpath, filename, image, bno)
		values(#{uuid},#{attachPath},#{fileName},#{image},#{bno});
	</insert>

	<!-- 첨부파일 목록 -->
	<select id="attachlist" resultType="org.us.model.AttachFileVO">
		select * from attach
		where nno = #{nno}
	</select>
	<select id="boardattachlist" resultType="org.us.model.AttachFileVO">
		select * from attach
		where bno = #{bno}
	</select>

	<!-- 공지사항 삭제시 첨부파일 같이 삭제 -->
	<delete id="attachdelete">
		delete from attach
		where nno = #{nno}
	</delete>
	
	
	
</mapper>