<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.us.mapper.BoardMapper">
	<!-- 목록, 페이징 -->
	<select id="list" resultType="org.us.model.BoardVO">
		select *
		from(
		select @rownum:=@rownum+1 rownum, b.*
		from board b,(select @rownum:=0) as tmp
		<if test="keyword != null">
			<choose>
				<when test="type=='T'.toString()"> <!-- 제목 -->
					where title like concat('%',#{keyword},'%')
				</when>
				<when test="type=='C'.toString()"> <!-- 내용 -->
					where content like concat('%',#{keyword},'%')
				</when>
				<when test="type=='TC'.toString()"> <!-- 제목, 내용 -->
					where title like concat('%',#{keyword},'%')
					or content like concat('%',#{keyword},'%')
				</when>
				<when test="type=='N'.toString()"> <!-- 작성자 -->
					where nick like concat('%',#{keyword},'%')
				</when>
			</choose>
		</if>
		order by bno desc
		) as boardlist
		<![CDATA[
			where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]>
	</select>

	<!-- 거래게시판 전체 개수 -->
	<select id="total" resultType="int">
		select count(*) from board
		<if test="keyword != null">
			<choose>
				<when test="type=='T'.toString()"> <!-- 제목 -->
					where title like concat('%',#{keyword},'%')
				</when>
				<when test="type=='C'.toString()"> <!-- 내용 -->
					where content like concat('%',#{keyword},'%')
				</when>
				<when test="type=='TC'.toString()"> <!-- 제목, 내용 -->
					where title like concat('%',#{keyword},'%')
					or content like concat('%',#{keyword},'%')
				</when>
				<when test="type=='N'.toString()"> <!-- 작성자 -->
					where nick like concat('%',#{keyword},'%')
				</when>
			</choose>
		</if>
	</select>

	<!-- 조회수 -->
	<update id="cntup">
		update board
		set cnt = cnt + 1
		where bno = #{bno}
	</update>

	<!-- 디테일 -->
	<select id="detail" resultType="org.us.model.BoardVO">
		select * from board
		where bno = #{bno}
	</select>

	<!-- 글 작성 -->
	<insert id="write">
		<selectKey keyProperty="bno" order="BEFORE" resultType="int">
			select
			case
			when bno is null then 1
			else max(bno)+1
			end bno
			from board
		</selectKey>
		insert into board(id, nick, title, content, category, price,cnt)
		values(#{id},#{nick},#{title},#{content},#{category},#{price},0)
	</insert>

	<!-- 좋아요 추가 -->
	<insert id="heartin">
		insert into heart(id, bno)
		values(#{id},#{bno})
	</insert>

	<!-- 좋아요 갯수 -->
	<select id="heartcnt" resultType="int">
		select count(*) from heart
		where bno = #{bno}
	</select>

	<!-- 게시글 별 좋아요 개수 -->
	<!-- <select id="heartlist" resultType="org.us.model.HeartVO"> select * from heart </select> -->
	<select id="heartlist" resultType="org.us.model.BoardVO">
		select count(*) as heartcount,bno from heart
		group by bno
	</select>


	<!-- 특정 아이디 특정 게시물 좋아요 여부 -->
	<select id="heartid" resultType="int">
		select exists (select * from heart
		where id = #{id}
		and bno = #{bno}) as success;
	</select>

	<!-- 좋아요 취소 -->
	<delete id="heartout">
		delete from heart
		where id = #{id}
		and bno = #{bno}
	</delete>
</mapper>