<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.us.mapper.DealMapper">
	<!-- 목록, 페이징 -->
	<select id="list" resultType="org.us.model.DealVO">
		select *
		from(
		select @rownum:=@rownum+1 rownum, d.*
		from deal d,(select @rownum:=0) as tmp
		<if test="keyword != null">
			<choose>
				<when test="type=='P'.toString()"> <!-- 판매물품명 -->
					where product like concat('%',#{keyword},'%')
				</when>
				<when test="type=='I'.toString()"> <!-- 내용 -->
					where info like concat('%',#{keyword},'%')
				</when>
				<when test="type=='PI'.toString()"> <!-- 판매물품명, 내용 -->
					where product like concat('%',#{keyword},'%')
					or info like concat('%',#{keyword},'%')
				</when>
				<when test="type=='N'.toString()"> <!-- 판매자 -->
					where nick like concat('%',#{keyword},'%')
				</when>
			</choose>
		</if>
		order by dno desc
		) as deallist
		<![CDATA[
			where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]>
	</select>

	<!-- 거래게시판 전체 개수 -->
	<select id="total" resultType="int">
		select count(*) from deal
		<if test="keyword != null">
			<choose>
				<when test="type=='P'.toString()"> <!-- 판매물품명 -->
					where product like concat('%',#{keyword},'%')
				</when>
				<when test="type=='I'.toString()"> <!-- 내용 -->
					where info like concat('%',#{keyword},'%')
				</when>
				<when test="type=='PI'.toString()"> <!-- 판매물품명, 내용 -->
					where product like concat('%',#{keyword},'%')
					or info like concat('%',#{keyword},'%')
				</when>
				<when test="type=='N'.toString()"> <!-- 판매자 -->
					where nick like concat('%',#{keyword},'%')
				</when>
			</choose>
		</if>
	</select>

	<!-- 조회수 -->
	<update id="cntup">
		update deal
		set cnt = cnt + 1
		where dno = #{dno}
	</update>

	<!-- 디테일 -->
	<select id="detail" resultType="org.us.model.DealVO">
		select * from deal
		where dno = #{dno}
	</select>
</mapper>