<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.us.mapper.DealMapper">
	<!-- 목록 -->
	<select id="list" resultType="org.us.model.DealVO">
		select *
		from(
		select @rownum:=@rownum+1 rownum, d.*
		from deal d,(select @rownum:=0) as tmp
		order by dno desc
		) as deallist
	</select>
</mapper>