<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.us.mapper.TopMapper">
	<select id="top" resultType="org.us.model.NoticeVO">
		select *
		from(
		select @rownum:=@rownum+1 rownum, n.*
		from notice n,(select @rownum:=0) as tmp
		order by nno desc
		) as top
		where top = 1
	</select>

</mapper>