@charset "UTF-8";
/* 공통 */
body{
	height: 100%;
	position: relative;
	padding-bottom:100px;
	min-height: calc(100vh - 100px);
	width: 1500px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #528555;
}

li {
	list-style: none;
}
/* header */
#header {
	background-color: white;
	height: 120px;
	padding: 5px 10px 0px 10px;
	width: 1480px;
}

#logo>a {
	float: left;
	font-size: 40px;
	font-weight: bold;
	color: #528555;
}
#headerR{
	overflow: hidden;
}
#headerR>ul>li {
	float: right;
	margin-right: 10px;
}

/* nav */
#nav {
	overflow: hidden;
	background-color: #F5F5F4;
	border-top: 2px solid #528555;
	border-bottom: 2px solid #528555;
	height: 50px;
	width: 1500px;
}

#nav>ul {
	padding: 0;
	width: fit-content;
	height: 50px;
	margin: 0 auto;
}

#nav>ul>li {
	float: left;
	width: fit-content;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 50px;
	margin: 0 auto;
}

#nav>ul>li>a {
	font-size: 20px;
}
/* content */
#content {
	clear: both;
	background-color: white;
	height: 100%;
}

/* 이벤트 슬라이드 */
#event {
	border: solid 2px #528555;
	width: 1000px;
	margin: 0 auto;
	height: 300px;
	margin-top: 30px;
}
/* 대회 슬라이드 */
#competition {
	border: solid 2px #528555;
	width: 1000px;
	margin: 0 auto;
	height: 200px;
	margin-top: 30px;
}
/* 크루,공지 목록 */
#crew, #notice {
	border: solid 2px #528555;
	width: 480px;
	margin: 0 auto;
	height: 200px;
	margin-top: 30px;
}

#crew {
	float: left;
	margin-left: 16.5%;
}

#notice {
	float: right;
	margin-right: 16.5%;
}

/* footer */
#footer {
	bottom: 0px;
	height: 100px;
	width: 1500px;
	box-sizing: border-box;
	clear: both;
	border-top: 2px solid #528555;
	background-color: #F5F5F4;
}