@charset "UTF-8";
/* 공통사항 */
#Nlist, #Ndetail {
	width: 1500px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

h2 {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.search {
	width: 80%;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 10px;
	clear: both;
}

.Ntable {
	width: 80%;
	margin: 0 auto;
	border-top: 2px solid #528555;
	border-collapse: collapse;
	margin-bottom: 30px;
}

td {
	border-bottom: 1px solid #528555;
	padding: 10px;
}

th {
	border-bottom: 2px solid #528555;
}

tr {
	height: 50px;
}

.title>a:hover {
	color: #528555;
	text-decoration: underline;
}

.nno, .category, .id, .regdate, .cnt {
	text-align: center;
}

input:focus, textarea:focus {
	outline: 1px solid #F5F5F4;
}

.hc {
	width: 150px;
	text-align: center;
}

.bb2 {
	border-bottom: 2px solid #528555;
}
/* 검색 */
#search {
	height: 34px;
	width: 200px;
}

.search>form>input {
	float: right;
}
/* 공지 목록 */
#NlistInfo>.title {
	padding-left: 10px;
	width: 500px;
}

#NlistInfo>.title>a {
	display: inline-block;
	width: 480px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/*공지 디테일*/
#detailTable {
	margin-bottom: 30px;
}

#idD, .pon {
	width: 100px;
}

#titleD, #pre>td, #next>td {
	padding: 10px 10px 10px 10px;
}

#circ {
	height: 20px;
	font-size: 13px;
}

#circ>.hc {
	border-left: 1px solid #528555;
	border-right: 1px solid #F5F5F4;
}

#contentD {
	padding: 30px 50px 30px 50px;
}

#attachD>img {
	padding-right: 20px;
	padding-top: 20px;
}
/*버튼*/
#btn {
	width: 80%;
	margin: 0 auto;
	/* 	margin-top: 30px; */
	margin-bottom: 30px;
}

input[type=button] {
	width: 80px;
	height: 40px;
}

input[type=submit] {
	width: 80px;
	height: 40px;
}

#editbtn, #deletebtn {
	float: right;
	margin-left: 5px;
}
/*리스트 > 글쓰기 이동 버튼 오른쪽에 위치*/
#gowrite {
	width: 80px;
	float: right;
	margin-bottom: 30px;
}
/*공지 글쓰기*/
.NdetailInfo {
	padding: 10px 10px 10px 10px;
}

input[class="NdetailInfo"] {
	width: 98%;
	border: none;
}

textarea[class="NdetailInfo"] {
	width: 98%;
	border: none;
	resize: none;
}

.line2px {
	border-bottom: 2px solid #528555;
}

#preview {
	border-top: 1px solid #F5F5F4;
}
/* 글작성 버튼 가운데 위치 */
#write {
	width: 80px;
	margin: 0 auto;
}
/* 페이징 */
#paging {
	width: fit-content;
	margin: 0 auto;
	font-weight: bold;
	margin-top: 30px;
}

#paging>a:hover {
	text-decoration: underline;
	color: black;
}

.nowpage {
	color: #528555;
}