@charset "EUC-KR";
input[type="text"]{
	height: 20px;
	width: 200px;
	margin: 5px;
}
textarea{
	margin: 5px;
	height: 200px;
	width: 200px;
}
input[type="button"]{
	height: 30px;
	width: 100px;
	margin-left: 100px;
}