@charset "UTF-8";
#topInfo{
	background-color: #F5F5F4;
}
#topInfo>.title {
	padding-left: 10px;
	width: 500px;
}
#topN>span{
	padding: 5px 10px 5px 10px;
	background-color: #528555;
	color: white;
	border-radius: 2em;
}	